h1,h2,h3,h4,h5,h6,label,p,span,strong,b,s,cite,i,a,small,q,u,code,.mat-card-title,.mat-card-subtitle{
    &.primary{
        color: $primary !important;
    }
    &.accent{
        color: $accent !important;
    }
    &.warn{
        color: $warn !important;
    }
    &.success{
        color: $success !important;
    }
    &.info{
        color: $info !important;
    }
    &.warning{
        color: $warning !important;
    }
} 