:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.mat-badge-content {
    width: 1.4rem !important;
    height: 1.4rem !important;
    font-size: 1rem !important;
    padding: 2px 4px 2px 4px !important;
    line-height: 1rem !important;
    letter-spacing: 0.014rem !important;
    font-weight: 500 !important;
  }