
button-group.outlined-buttonGroup.primary-buttonGroup
button.mdc-button.mat-mdc-button-base {
color: #1e62a1 !important;
background-color: white;
border: solid #0a55ab 1px;
}
button-group.outlined-buttonGroup.primary-buttonGroup
button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
background-color: white;
border-right: none !important;
border: solid #0a55ab 1px;
border-color: #0a55ab;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
}
button-group.outlined-buttonGroup.primary-buttonGroup
button.mdc-button.mat-mdc-button-base:first-of-type {
border-end-start-radius: 4px;
border-start-start-radius: 4px;
}
button-group.accent-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base {
background-color: white;
color: #0cbbe2;
border: solid 1px #18a9c9;

border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
border-end-end-radius: 4px;
border-start-end-radius: 4px;
}

button-group.accent-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
background-color: white;
border-right: none !important;
border-color: #18a9c9;
border: solid 1px #18a9c9;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
}

button-group.accent-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:first-of-type {
border-end-start-radius: 4px;
border-start-start-radius: 4px;
}
button-group.warn-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base {
background-color: white;
color: #d14343;
border: solid 1px #d14343;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
border-end-end-radius: 4px;
border-start-end-radius: 4px;
}

button-group.warn-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
background-color: white;
border-right: none;
border-color: #d14343;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
}

button-group.warn-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:first-of-type {
border-end-start-radius: 4px;
border-start-start-radius: 4px;
}
button-group.success-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base {
background-color: white;
color: #8fc93a;
border: solid #8fc93a 1px;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
border-end-end-radius: 4px;
border-start-end-radius: 4px;
}

button-group.success-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
background-color: white;
border-right: none;
border-color: #8fc93a;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
}

button-group.success-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:first-of-type {
border-end-start-radius: 4px;
border-start-start-radius: 4px;
}

button-group.info-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base {
background-color: white;
color: #2d9fc5;
border: solid 1px #2d9fc5;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
border-end-end-radius: 4px;
border-start-end-radius: 4px;
}

button-group.info-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
background-color: white;
border-right: none;
border-color: #2d9fc5;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
}

button-group.info-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:first-of-type {
border-end-start-radius: 4px;
border-start-start-radius: 4px;
}
button-group.warning-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base {
background-color: white;
color: #fb8500;
border: solid #fb8500 1px;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
border-end-end-radius: 4px;
border-start-end-radius: 4px;
}

button-group.warning-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
background-color: white;
border-right: none;
border-color: #fb8500;
border-radius: var(
  --mdc-filled-button-container-shape,
  var(--mdc-shape-small, 0px)
);
}

button-group.warning-buttonGroup.outlined-buttonGroup
button.mdc-button.mat-mdc-button-base:first-of-type {
border-end-start-radius: 4px;
border-start-start-radius: 4px;
}
