.primary-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($primary,$transparent, $primary);
}
.accent-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($accent,$transparent, $accent);
}
.warn-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warn,$transparent, $warn);
}
.success-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($success,$transparent, $success);
}
.info-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($info,$transparent, $info);
}
.warning-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warning,$transparent, $warning);
}
.primary,.accent,.warn,.success,.info,.warning{
  &-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
    @include bordes-radius("", .4rem, .4rem, "");
    border: 1px solid;
    &:not(:last-of-type) {
      border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
      border-right: none;
    }
    &:first-of-type {
      @include bordes-radius(.4rem, "", "", .4rem);
    }
  }
} 