$primary: #1e62a1;
$accent: #0cbbe2;
$warn: #d14343;
$success: #8fc93a;
$info: #2d9fc5;
$warning: #fb8500;
$border-start: 4px;
$border-end: 4px;
@mixin bordes($border-start, $border-end) {
  // background-color: $color;
  border-start-end-radius: $border-start;
  border-end-end-radius: $border-end;
}

.primary-buttonGroup button.mdc-button.mat-mdc-button-base {
  color: white;
  background-color: #1e62a1;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.primary-buttonGroup button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
  background-color: #1e62a1;
  border-right: 1px solid #d8dae5;
  border-color: #003972;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
}

.primary-buttonGroup button.mdc-button.mat-mdc-button-base:first-of-type {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
}

.accent-buttonGroup button.mdc-button.mat-mdc-button-base {
  background-color: #0cbbe2;
  color: white;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
  @include bordes($border-start, $border-end);
}

.accent-buttonGroup button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
  background-color: #0cbbe2;
  border-right: 1px solid #d8dae5;
  border-color: #008bb0;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
}

.accent-buttonGroup button.mdc-button.mat-mdc-button-base:first-of-type {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
}
.warn-buttonGroup button.mdc-button.mat-mdc-button-base {
  color: white;
  background-color: #d14343;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
  border-end-end-radius: 4px;
  border-start-end-radius: 4px;
}

.warn-buttonGroup button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
  background-color: #d14343;
  border-right: 1px solid #d8dae5;
  border-color: #b51e1e;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
}

.warn-buttonGroup button.mdc-button.mat-mdc-button-base:first-of-type {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
}
.success-buttonGroup button.mdc-button.mat-mdc-button-base {
  color: white;
  background-color: #8fc93a;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
  border-end-end-radius: 4px;
  border-start-end-radius: 4px;
}

.success-buttonGroup button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
  background-color: #8fc93a;
  border-right: 1px solid #d8dae5;
  border-color: #60a918;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
}

.success-buttonGroup button.mdc-button.mat-mdc-button-base:first-of-type {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
}

.info-buttonGroup button.mdc-button.mat-mdc-button-base {
  color: white;
  background-color: #2d9fc5;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
  border-end-end-radius: 4px;
  border-start-end-radius: 4px;
}

.info-buttonGroup button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
  background-color: #2d9fc5;
  border-right: 1px solid #d8dae5;
  border-color: #1172a3;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
}

.info-buttonGroup button.mdc-button.mat-mdc-button-base:first-of-type {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
}
.warning-buttonGroup button.mdc-button.mat-mdc-button-base {
  color: white;
  background-color: #fb8500;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
  border-end-end-radius: 4px;
  border-start-end-radius: 4px;
}

.warning-buttonGroup button.mdc-button.mat-mdc-button-base:not(:last-of-type) {
  background-color: #fb8500;
  border-right: 1px solid #d8dae5;
  border-color: #f85500;
  border-radius: var(
    --mdc-filled-button-container-shape,
    var(--mdc-shape-small, 0px)
  );
}

.warning-buttonGroup button.mdc-button.mat-mdc-button-base:first-of-type {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
}
