.primary-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($primary, $transparent,"");
}
.accent-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($accent, $transparent,"");
}
.warn-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warn, $transparent,"");
}
.success-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($success, $transparent,"");
}
.info-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($info, $transparent,"");
}
.warning-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warning, $transparent,"");
}
.primary,.accent,.warn,.success,.info,.warning{
  &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base{
    border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
    @include bordes-radius("", .4rem, .4rem, "");
    &:not(:last-of-type) {
      @include bg-color-config("", $transparent,"");
      border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
    }
    &:first-of-type {
      @include bordes-radius(.4rem, "", "", .4rem);
    }
    &:not(:last-of-type , :first-of-type),&:last-of-type{
      border-left:.1rem solid;  
    } 
  }
}


button-group .outlined{
  outline: 1px solid lime !important;
}