<div class="container-component container-component__last">

  <div class="text-container-component text-container-component__widht_50 text-container-component__border-Right"> 
    <h6>Bottom sheet</h6>
      <ul>
        <li>
          <p class="mat-body-strong">.mdc-list: <span class="mat-body-2"> subtitle-1</span> </p> 
        </li>
        <li>
          <p class="mat-body-strong">.mat-bottom-sheet-container: <span class="mat-body-2"> body-2</span> </p> 
        </li>
    </ul> 
  </div>
  <div class="text-container-component centered text-container-component__widht_50">
    <button mat-raised-button color="primary" (click)="openBottomSheet()">Open file</button>
  </div>
</div>

