<div class="container-component ">
  <div class="text-container-component text-container-component__widht_60  text-container-component__border-Right">
    <h6>button toggle</h6>
    <br>
    <p class="mat-subtitle-1">componente homonimo en react:<span class="mat-body-strong"> button-group</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de elevavion nativa en react para la variante de (<span class="font-weight-700">contained</span>):<span class="mat-body-strong">2</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de elevavion nativa en angular para la variante de (<span class="font-weight-700">legacy</span>):<span class="mat-body-strong">2</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de de elevacion actual: <span class="mat-body-strong">2</span></p>

  </div>
  <div class="text-container-component text-container-component__widht_40 centered text-container-component__column">
    <p>
      Default appearance:
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
    <br />
    <p>
      Legacy appearance:
      <mat-button-toggle-group
        appearance="legacy"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
  </div>
</div>
