<div class="container-component">


  <div class="text-container-component text-container-component__border-Right  text-container-component__widht_40">
    <h6>Expancion panel</h6>
    <ul>
      <li>
        <p class="mat-body-strong">.mat-expansion-panel-header : <span class="mat-body-2"> subtitle-2</span> </p> 
      </li>
      <li>
        <p class="mat-body-strong">.mat-expansion-panel-content : <span class="mat-body-2"> body-2</span> </p> 
      </li>

  </ul> 

  </div>
  <div class="text-container-component centered text-container-component__widht_60">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> This is the expansion title </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description>
            Currently I am {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description>
            Currently I am {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description>
            Currently I am {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
