<div class="container-component">
  <!-- Cards with media area -->

  <div class="text-container-component text-container-component__border-Right text-container-component__widht_50">
    <h6>Card</h6>
    <ul>
      <li>
        <p class="mat-body-strong">mat-mdc-card-title: <span class="mat-body-2"> headline-6</span> </p> 
      </li>
      <li>
        <p class="mat-body-strong">mat-mdc-card-subtitle: <span class="mat-body-2"> subtitle-2</span> </p> 
      </li>
      <li>
        <p class="mat-body-strong">mat-mdc-card-content: <span class="mat-body-2"> body-2</span> </p> 
      </li>
    </ul> 
    </div>

  <div class="text-container-component text-container-component__widht_50 centered">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title >Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
  
  </div>

</div>
