@use "@angular/material" as mat;
.mdc-button{
    &.small{
        &.mat-mdc-button-base,&.mat-mdc-raised-button,&.mat-mdc-outlined-button,&.mat-mdc-unelevated-button{
            height:auto ;
            padding: .6rem 1rem;
            @include mat.typography-level($typography-global-config, "button-small" );
        }
    }
}
.mdc-button{
    &.large{
        &.mat-mdc-button-base,&.mat-mdc-raised-button,&.mat-mdc-outlined-button,&.mat-mdc-unelevated-button{
            height: auto ;
            padding: 1.2rem 2.2rem;
            @include mat.typography-level($typography-global-config, "button-large" );
        }
    }
}
