<app-mat-bagde></app-mat-bagde>
<app-mat-button></app-mat-button>
<app-mat-chips></app-mat-chips>
<app-mat-icon></app-mat-icon>
<app-mat-select></app-mat-select>
<app-mat-spinner></app-mat-spinner>

<div class="container-componet mat-elevation-z1" style=" flex-direction: row; flex-wrap: wrap; align-items: flex-start; width: 60%;">
  <mat-form-field appearance="outline" size="small">
    <mat-label>outlined small</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" size="medium">
    <mat-label>Outline medium</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>otline default</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" size="small">
    <mat-label>filled small</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" size="medium">
    <mat-label>filled medium</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>filled default</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</div> 
