<!-- <app-mat-spinner></app-mat-spinner>-->
<mat-avatar avatar="rounded" [nombre]="'PUTO EL QUE LO LEA'"></mat-avatar>
<mat-avatar avatar="square" [nombre]="'JAIDER MANUEL'"></mat-avatar>

<!-- form-field and select -->
<div class="container-componet mat-elevation-z1" style="flex-direction: row; align-items: flex-start; justify-content: flex-; flex-wrap: wrap; width: 80%; gap: 7px;" >
<mat-form-field appearance="outline" size="small" >
  <mat-label>outlined small</mat-label>
  <input matInput placeholder="Placeholder" />
  <mat-icon matSuffix >sentiment_very_satisfied</mat-icon>
</mat-form-field>
<!-- select -->
<mat-form-field appearance="outline" size="small">
  <mat-label>select small outline</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" size="small" >
  <mat-label>filled small</mat-label>
  <input matInput placeholder="Placeholder" />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>
  <!-- select -->
  <mat-form-field appearance="fill" size="small">
    <mat-label>select small fill</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<mat-form-field appearance="outline" size="medium">
  <mat-label> outlined medium</mat-label>
  <input matInput placeholder="Placeholder" />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>
  <!-- select -->
  <mat-form-field appearance="outline" size="medium">
    <mat-label>select medium outline</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<mat-form-field appearance="fill" size="medium">
  <mat-label>filled medium</mat-label>
  <input matInput placeholder="Placeholder" />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>
  <!-- select -->
  <mat-form-field appearance="fill" size="medium">
    <mat-label>select medium fill</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- standard react form-field -->
  <mat-form-field defaultAppearance size="small" >
    <mat-label>standart small variant defaultAparenc</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <!-- select -->
  <mat-form-field defaultAppearance size="small">
    <mat-label>select small standard</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- form -->
  <mat-form-field defaultAppearance size="medium" >
    <mat-label>standart medium</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <!-- select -->
  <mat-form-field defaultAppearance size="medium">
    <mat-label>select medium standadr</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- //native angular form field -->
  <mat-form-field appearance="outline" >
    <mat-label> outlined native</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
    <!-- select -->
    <mat-form-field appearance="outline" >
      <mat-label>select native outline</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>filled native</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
    <!-- select -->
    <mat-form-field appearance="fill" >
      <mat-label>select native fill</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
</div>



<!-- mat-mdc-form-field-infix -->
<!-- icon-suffix>.mat-icon : padding-inline:12px -->


