<div class="container mat-elevation-z1">
  <button mat-stroked-button size="large" color="primary">button</button>
  <button mat-stroked-button color="primary">button</button>
  <button mat-stroked-button size="small" color="primary">button</button>
</div>
<div class="container mat-elevation-z1">
 <mat-avatar></mat-avatar>
</div>
<!-- <div class="container mat-el
  evation-z1">
  <mat-form-field appearance="fill" size="small">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" size="large">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</div>
<div class="container mat-elevation-z1">
  <mat-checkbox size="small">small</mat-checkbox>
  <mat-checkbox>Check me!</mat-checkbox>
  <mat-checkbox size="large">large</mat-checkbox>
</div>
<div class="container mat-elevation-z1">
  <mat-radio-button value="1" size="small">small</mat-radio-button>
  <mat-radio-button value="2">medium</mat-radio-button>
  <mat-radio-button value="2" size="large">large</mat-radio-button>
</div>
<div class="container mat-elevation-z1">
  <mat-spinner size="small"></mat-spinner>
  <mat-spinner></mat-spinner>
  <mat-spinner size="large"></mat-spinner>
</div>
<div class="container mat-elevation-z1">
  <mat-slider size="small">
    <input matSliderThumb />
  </mat-slider>
  <mat-slider>
    <input matSliderThumb />
  </mat-slider>
  <mat-slider size="large">
    <input matSliderThumb />
  </mat-slider>
</div>
<div class="container mat-elevation-z1">
  <mat-icon size="small" color="primary">favorite</mat-icon>
  <mat-icon color="primary">favorite</mat-icon>
  <mat-icon size="large" color="primary">favorite</mat-icon>
</div> -->
<div class="container mat-elevation-z1">
  <button-group color="primary" variant="contained" size="large">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" variant="contained">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" variant="contained" size="small">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>

  <button-group
    color="primary"
    orientation="vertical"
    variant="contained"
    size="large"
  >
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" orientation="vertical" variant="contained">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group
    color="primary"
    orientation="vertical"
    variant="contained"
    size="small"
  >
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
</div>
<div class="container mat-elevation-z1">
  <button-group color="primary" variant="text" size="large">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" variant="text">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" variant="text" size="small">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>

  <button-group
    color="primary"
    orientation="vertical"
    variant="text"
    size="large"
  >
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" orientation="vertical" variant="text">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group
    color="primary"
    orientation="vertical"
    variant="text"
    size="small"
  >
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
</div>
<div class="container mat-elevation-z1">
  <button-group color="primary" variant="outlined" size="large">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" variant="outlined">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" variant="outlined" size="small">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>

  <button-group
    color="primary"
    orientation="vertical"
    variant="outlined"
    size="large"
  >
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group color="primary" orientation="vertical" variant="outlined">
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
  <button-group
    color="primary"
    orientation="vertical"
    variant="outlined"
    size="small"
  >
    <button mat-button>button</button>
    <button mat-button>button</button>
    <button mat-button>button</button>
  </button-group>
</div>
<div class="container mat-elevation-z1">
  <p>Body-2</p>
  <span class="mat-body-1">Body-1</span>
  <span class="mat-subtitle-1">Subtitle-1</span>
  <span class="mat-subtitle-2">Subtitle-2</span>
  <span class="mat-caption">Caption</span>
  <span class="mat-overline">overline</span>
  <h1>H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <h4>H4</h4>
  <h5>H5</h5>
  <h6>H6</h6>
  <button mat-button>button</button>
</div> -->

<style>
  .container {
    gap: 10px;
    display: flex;
    margin: 2rem auto;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
</style>
