@use "@angular/material" as mat;
//variant contained
.primary-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($white, $primary, "");
  &:last-of-type {
    @include bg-color-config("", $primary, "");
    border-end-end-radius: 4px !important;
    border-start-end-radius: 4px !important;
  }
  &:first-of-type {
    border-start-start-radius: 4px !important;
    border-end-start-radius: 4px !important;
  }
  &:not(:first-of-type) {
    border-color: solid 0.1rem #003972 !important;
  }
}
.accent-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($white, $accent, "");
  &:last-of-type {
    @include bg-color-config("", $primary, "");
    border-end-end-radius: 4px !important;
    border-start-end-radius: 4px !important;
  }
  &:first-of-type {
    border-start-start-radius: 4px !important;
    border-end-start-radius: 4px !important;
  }
  &:not(:first-of-type) {
    border-left: 0.1rem solid #008bb0;
  }
}
.warn-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($white, $warn, "");
  &:last-of-type {
    @include bg-color-config("", $primary, "");
    border-end-end-radius: 4px !important;
    border-start-end-radius: 4px !important;
  }
  &:first-of-type {
    border-start-start-radius: 4px !important;
    border-end-start-radius: 4px !important;
  }
  &:not(:first-of-type) {
    border-left: 0.1rem solid #b51e1e;
  }
}
.success-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($white, $success, "");
  &:last-of-type {
    @include bg-color-config("", $primary, "");
    border-end-end-radius: 4px !important;
    border-start-end-radius: 4px !important;
  }
  &:first-of-type {
    border-start-start-radius: 4px !important;
    border-end-start-radius: 4px !important;
  }
  &:not(:first-of-type) {
    border-left: 0.1rem solid #60a918;
  }
}
.info-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($white, $info, "");
  &:last-of-type {
    @include bg-color-config("", $primary, "");
    border-end-end-radius: 4px !important;
    border-start-end-radius: 4px !important;
  }
  &:first-of-type {
    border-start-start-radius: 4px !important;
    border-end-start-radius: 4px !important;
  }
  &:not(:first-of-type) {
    border-left: 0.1rem solid #1172a3;
  }
}
.warning-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($white, $warning, "");
  &:last-of-type {
    @include bg-color-config("", $primary, "");
    border-end-end-radius: 4px !important;
    border-start-end-radius: 4px !important;
  }
  &:first-of-type {
    border-start-start-radius: 4px !important;
    border-end-start-radius: 4px !important;
  }
  &:not(:first-of-type) {
    border-left: 0.1rem solid #f85500;
  }
}
//variant outlined
.primary-buttonGroup.outlined-buttonGroup
  button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($primary, $transparent, $primary);
}
.accent-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($accent, $transparent, $accent);
}
.warn-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warn, $transparent, $warn);
}
.success-buttonGroup.outlined-buttonGroup
  button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($success, $transparent, $success);
}
.info-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($info, $transparent, $info);
}
.warning-buttonGroup.outlined-buttonGroup
  button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warning, $transparent, $warning);
}
.primary,
.accent,
.warn,
.success,
.info,
.warning {
  &-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    border-radius: var(
      --mdc-filled-button-container-shape,
      var(--mdc-shape-small, 0rem)
    );
    border: 0.1rem solid;
    background-color: inherit;
    &:not(:last-of-type) {
      border-radius: var(
        --mdc-filled-button-container-shape,
        var(--mdc-shape-small, 0rem)
      );
      border-right: none;
    }
  }
}
//variant text
.primary-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($primary, $transparent, "");
}
.accent-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($accent, $transparent, "");
}
.warn-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warn, $transparent, "");
}
.success-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($success, $transparent, "");
}
.info-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($info, $transparent, "");
}
.warning-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
  @include bg-color-config($warning, $transparent, "");
}
.primary,
.accent,
.warn,
.success,
.info,
.warning {
  &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    border-radius: var(
      --mdc-filled-button-container-shape,
      var(--mdc-shape-small, 0rem)
    );
    @include bordes-radius("", 0.4rem, 0.4rem, "");
    &:not(:last-of-type) {
      @include bg-color-config("", $transparent, "");
      border-radius: var(
        --mdc-filled-button-container-shape,
        var(--mdc-shape-small, 0rem)
      );
    }
    &:first-of-type {
      @include bordes-radius(0.4rem, "", "", 0.4rem);
    }
    &:not(:last-of-type, :first-of-type),
    &:last-of-type {
      border-left: 0.1rem solid;
    }
  }
}
//setting of the focus and hover color of the buttons within the component
div {
  &.outlined-buttonGroup,
  &.text-buttonGroup {
    &.primary-buttonGroup.outlined-buttonGroup,
    &.primary-buttonGroup.text-buttonGroup {
      & .mdc-button:hover,
      & .mdc-button:focus {
        --mat-mdc-button-persistent-ripple-color: #1e62a1;
        --mat-mdc-button-ripple-color: rgba(30, 98, 161, 0.1);
      }
    }
    &.accent-buttonGroup.outlined-buttonGroup,
    &.accent-buttonGroup.text-buttonGroup {
      & .mdc-button:hover,
      & .mdc-button:focus {
        --mat-mdc-button-persistent-ripple-color: #0cbbe2;
        --mat-mdc-button-ripple-color: rgba(12, 187, 226, 0.1);
      }
    }
    &.warn-buttonGroup.outlined-buttonGroup,
    &.warn-buttonGroup.text-buttonGroup {
      & .mdc-button:hover,
      & .mdc-button:focus {
        --mat-mdc-button-persistent-ripple-color: #d14343;
        --mat-mdc-button-ripple-color: rgba(209, 67, 67, 0.1);
      }
    }
    &.success-buttonGroup.outlined-buttonGroup,
    &.success-buttonGroup.text-buttonGroup {
      & .mdc-button:hover,
      & .mdc-button:focus {
        --mat-mdc-button-persistent-ripple-color: #8fc93a;
        --mat-mdc-button-ripple-color: rgba(143, 201, 58, 0.1);
      }
    }
    &.info-buttonGroup.outlined-buttonGroup,
    &.info-buttonGroup.text-buttonGroup {
      & .mdc-button:hover,
      & .mdc-button:focus {
        --mat-mdc-button-persistent-ripple-color: #2d9fc5;
        --mat-mdc-button-ripple-color: rgba(45, 159, 197, 0.1);
      }
    }
    &.warning-buttonGroup.outlined-buttonGroup,
    &.warning-buttonGroup.text-buttonGroup {
      & .mdc-button:hover,
      & .mdc-button:focus {
        --mat-mdc-button-persistent-ripple-color: #fb8500;
        --mat-mdc-button-ripple-color: rgba(251, 133, 0, 0.1);
      }
    }
  }
}
//button-group orientation vertical
div.vertical {
  display: flex;
  flex-direction: column !important;
  width: max-content;
  @include bg-color-config("", $transparent, "");
  //variant contained
  button.mdc-button.mat-mdc-button-base {
    &:first-of-type {
      @include bordes-radius(
        0.4rem !important,
        0.4rem !important,
        0rem !important,
        0rem !important
      );
    }
    &:last-of-type {
      @include bordes-radius(
        0rem !important,
        0rem !important,
        0.4rem !important,
        0.4rem !important
      );
    }
  }
  &.primary-buttonGroup button.mdc-button.mat-mdc-button-base {
    &:first-of-type,
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid #003972;
    }
  }
  &.accent-buttonGroup button.mdc-button.mat-mdc-button-base {
    &:first-of-type,
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid #008bb0;
    }
  }
  &.warn-buttonGroup button.mdc-button.mat-mdc-button-base {
    &:first-of-type,
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid #b51e1e;
    }
  }
  &.success-buttonGroup button.mdc-button.mat-mdc-button-base {
    &:first-of-type,
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid #60a918;
    }
  }
  &.info-buttonGroup button.mdc-button.mat-mdc-button-base {
    &:first-of-type,
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid #1172a3;
    }
  }
  &.warning-buttonGroup button.mdc-button.mat-mdc-button-base {
    &:first-of-type,
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid #f85500;
    }
  }
  //variant text
  &.primary {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $primary;
      }
    }
  }
  &.accent {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $accent;
      }
    }
  }
  &.warn {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $warn;
      }
    }
  }
  &.success {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $success;
      }
    }
  }
  &.info {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $info;
      }
    }
  }
  &.warning {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $warning;
      }
    }
  }
  &.primary,
  &.accent,
  &.warn,
  &.success,
  &.info,
  &.warning {
    &-buttonGroup.text-buttonGroup,
    &-buttonGroup {
      button.mdc-button.mat-mdc-button-base {
        &:not(:first-of-type),
        &:last-of-type {
          border-left: none;
        }
      }
    }
  }
  &.outlined-buttonGroup {
    &.primary,
    &.accent,
    &.warn,
    &.success,
    &.info,
    &.warning {
      &-buttonGroup button.mdc-button.mat-mdc-button-base {
        &:first-of-type,
        &:not(:first-of-type, :last-of-type) {
          border-bottom: none;
          border-right: 0.1rem solid;
        }
        &:not(:first-of-type),
        &:last-of-type {
          border-left: 0.1rem solid;
        }
      }
    }
  }
}
//button-group size variants
.small {
  .mdc-button {
    padding: 0.3rem 0.9rem;
    @include mat.typography-level($typography-global-config, "button-small");
  }
}
.large {
  .mdc-button {
    padding: 0.7rem 2.1rem;
    @include mat.typography-level($typography-global-config, "button-large");
  }
}
div {
  &.small,
  &.large {
    .mdc-button {
      min-width: 4rem;
      height: auto !important;
    }
  }
}
