<div class="container-component ">


  <div class="text-container-component text-container-component__border-Right text-container-component__widht_50">
    <h6>Chips</h6>
    <br>
    <p class="mat-subtitle-1">nivel de elevavion nativa en react:<span class="mat-body-strong">1</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de elevavion nativa en angular:<span class="mat-body-strong">3</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de de elevacion actual: <span class="mat-body-strong">1</span></p>
  </div>
  <div class="text-container-component text-container-component__widht_50 centered">
    <mat-chip disabled>Orange</mat-chip>
    <br />
    <mat-chip>Orange</mat-chip>
  </div>
</div>
