<div class="container-component ">
  <div class="text-container-component text-container-component__border-Right text-container-component__widht_50">
    <h6>Chips</h6>
    <br>
    <p class="mat-body-strong">nivel de tipografia nativa:<span class="mat-body-2"> body-2</span> </p> 
  </div>
  <div class="text-container-component text-container-component__widht_50 centered text-container-component__column" style="height: auto;">
    <mat-chip disabled>Orange</mat-chip>
    <br />
    <mat-chip>Orange</mat-chip>
    <br>
    <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
    <br>
    <mat-chip-option color="warn">Warn fish</mat-chip-option>
  </div>
</div>
