//radio-button size variants
.small {
  .mdc-radio__background {
    width: 1.5rem;
    height: 1.5rem;
  }
  .mdc-radio__inner-circle {
    border-width: 0.7rem;
    margin: 0.25rem 0.15rem;
  }
  .mdc-radio__outer-circle {
    margin: 0.25rem 0.15rem;
  }
  .mdc-circular-progress__indeterminate-container {
    width: 7rem;
  }
}
.large {
  .mdc-radio__background {
    width: 23px;
    height: 23px;
  }
  .mdc-radio__inner-circle {
    border-width: 11px;
    margin: -2px -1.5px;
  }
  .mdc-radio__outer-circle {
    margin: -2px -1.5px;
  }
}
