//SPINNER
mat-spinner{
  .mdc-radio__inner-circle {
    border-width: 0.7rem;
    margin: 0.25rem 0.15rem;
  }
  .mdc-radio__outer-circle {
    margin: 0.25rem 0.15rem;
  }
  .mdc-circular-progress__indeterminate-container {
    width: 4rem;
    height: 3.732rem;
  }
}