.small {
  //Form-field
  .mat-mdc-form-field-input-control {
    height: 17px;
  }
  .mdc-floating-label {
    padding-bottom: 4px;
  }
  .mat-mdc-form-field-infix {
    min-height: 45px;
  }
  // CheckBox
  .mdc-checkbox__background {
    width: 15px;
    height: 15px;
    margin: 1px 1.5px;
  }
  // Slider
  .mat-mdc-slider-visual-thumb .mat-ripple {
    border-radius: 50px;
    margin: 12px 0px 0px 12px;
    width: 50%;
    height: 50%;
  }
  .mdc-slider__thumb-knob {
    width: 5px;
    height: 5px;
    border-width: 7.5px;
  }
  //radio-button
  .mdc-radio__background {
    width: 15px;
    height: 15px;
  }
  .mdc-radio__inner-circle {
    border-width: 7px;
    margin: 2.5px 1.5px;
  }
  .mdc-radio__outer-circle {
    margin: 2.5px 1.5px;
  }
  .mdc-circular-progress__indeterminate-container {
    width: 70px;
  }
  //Table
  .mat-mdc-table,
  .mdc-data-table__header-row,
  .mdc-data-table__row {
    height: 35px !important;
    min-height: 30px;
    font-size: 12px;
  }
}
.large {
  // Checkbox
  .mdc-checkbox__background {
    width: 21px;
    height: 21px;
    margin: -1px -1px;
  }
  .mdc-radio__background {
    width: 23px;
    height: 23px;
  }
  .mdc-radio__inner-circle {
    border-width: 11px;
    margin: -2px -1.5px;
  }
  .mdc-radio__outer-circle {
    margin: -2px -1.5px;
  }
}
