@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

mat-chip.small,
.mat-chip--small {
  height: 24px !important;
  font-size: 13px;
}
mat-chip-option.small,
.mat-chip-option--small {
  height: 24px !important;
  font-size: 13px;
}

mat-form-field.small,
.form-field--small {
  height: 70px;
}
.form-field--small {
  &::ng-deep {
    .mat-mdc-form-field-infix {
      font-size: 13.5px !important;
      padding-top: 20px !important;
    }
  }
}
.app-button--small {
  font-size: 13px;
  height: 32px;
  padding-inline: 8px;
}

.check-box--small {
  &::ng-deep {
    .mdc-checkbox__background {
      width: 15px !important;
      height: 15px !important;
      margin: 1px 1.5px !important;
    }
  }
}

.slider--small .mat-mdc-slider-visual-thumb .mat-ripple {
  border-radius: 50px;
  margin: 9px 0px 0px 9.7px;
  width: 60%;
  height: 60%;
}
.slider--small .mdc-slider__thumb-knob {
  width: 5px !important;
  height: 5px !important;
  border-width: 7.5px !important;
}

.radio-button--small {
  &::ng-deep {
    .mdc-radio__background {
      width: 15px;
      height: 15px;
    }
    .mdc-radio__inner-circle {
      border-width: 7px;
      margin: 2.5px 1.5px;
    }
    .mdc-radio__outer-circle {
      margin: 2.5px 1.5px;
    }
  }
}

.mat-spinner--small {
  &::ng-deep {
    .mdc-circular-progress__indeterminate-container {
      width: 70px;
    }
  }
}

.table--small {
  &::ng-deep {
    .mat-mdc-table,
    .mdc-data-table__header-row,
    .mdc-data-table__row {
      height: 35px !important;
      min-height: 30px;
      font-size: 12px;
    }
  }
}

mat-icon.small,
.mat-icon--small {
  font-size: 20px !important;
}

///////////////////////Large//////////////////////

.app-button--large {
  font-size: 15px;
  padding: 17px 13px;
}

.check-box--large {
  &::ng-deep {
    .mdc-checkbox__background {
      width: 21px;
      height: 21px;
      margin: -1px -1px;
    }
  }
}
.radio-button--large {
  &::ng-deep {
    .mdc-radio__background {
      width: 23px;
      height: 23px;
    }
    .mdc-radio__inner-circle {
      border-width: 11px;
      margin: -2px -1.5px;
    }
    .mdc-radio__outer-circle {
      margin: -2px -1.5px;
    }
  }
}
mat-icon.large,
.mat-icon--large {
  font-size: 30px;
  width: 33px;
  height: 30px;
}
//////////////////////Color//////////////////////

.app-button--raised {
  background-color: #3f51b5;
  color: white !important;
  font-weight: 600;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
