
@use "@angular/material" as mat ;
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

$h3: mat.define-typography-level(
  $font-size: 48px,
  $font-weight: 500,
  $line-height: 56.02px, 
  $letter-spacing: 0px !important, 
  $font-family:Nunito !important
);

$h4: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 34px,
  $line-height: 41.99px, 
  $letter-spacing: 0.25px !important, 
  $font-family:Nunito !important
);

$h5: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 24px,
  $line-height: 32.02px, 
  $letter-spacing: 0 !important,
  $font-family:Nunito !important
);

$h6: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 20px,
  $line-height: 32px, 
  $letter-spacing: 0.15px !important,
  $font-family:Nunito !important
);

$overline: mat.define-typography-level(
  $font-family:Roboto,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 31.92px,
  $letter-spacing: 1px,
);

$typography-global-config: map.merge(
    mat.define-typography-config(
      $font-family: "Roboto",
       $headline-5:
        mat.define-typography-level(
          $font-family: Nunito,
          $font-weight: 300,
          $font-size: 96px,
          $line-height: 112.03px,
          $letter-spacing: -1.5px,
        ),
      $headline-6:
        mat.define-typography-level(
          $font-family: Nunito,
          $font-weight: 400,
          $font-size: 60px,
          $line-height: 72px,
          $letter-spacing: -0.5px,
        ),
      $subtitle-1:
        mat.define-typography-level(
          $font-family: Roboto,
          $font-weight: 400,
          $font-size: 16px,
          $line-height: 28px,
          $letter-spacing: 0.15px,
        ), 
      $subtitle-2:
        mat.define-typography-level(
          $font-family: Roboto,
          $font-weight: 500,
          $font-size: 14px,
          $line-height: 21.98px,
          $letter-spacing: 0.1px,
        ),
      $body-1:
        mat.define-typography-level(
          $font-family: Roboto,
          $font-weight: 400,
          $font-size: 16px,
          $line-height: 24px,
          $letter-spacing: 0.15px,
        ),
      $body-2:
        mat.define-typography-level(
          $font-family: Roboto,
          $font-weight: 400,
          $font-size: 14px,
          $line-height: 20.02px,
          $letter-spacing: 0.17px,
        ),
      $caption:
        mat.define-typography-level(
          $font-family: Roboto,
          $font-weight: 400,
          $font-size: 12px,
          $line-height: 19.92px,
          $letter-spacing: 0.4px,
        ),
      $button:
        mat.define-typography-level(
          $font-family: Roboto,
          $font-weight: 500,
          $font-size: 14px,
          $line-height: 24px,
          $letter-spacing: 0.4px,
        ),
    ),
    (
        "h3": $h3,
        "h4": $h4,
        "h5": $h5,
        "h6": $h6,
        "overline":$overline
    ),
);

.mat-headline-5,
.mat-h1,
h1,
.mat-headline-6,
.mat-h2,
h2,
.mat-subtitle-1,
.mat-h3,
h3,
.mat-h4,
h4,
.mat-body-1,
p,
.mat-h5,
h5,
.mat-h6,
h6 {
  margin: 0 !important;
}

.mat-h3,h3{
  @include mat.typography-level($typography-global-config, "h3" ) ;
}
.mat-h4,h4{
  @include mat.typography-level($typography-global-config, "h4" );
}
.mat-h5,h5{
  @include mat.typography-level($typography-global-config, "h5" );
}
.mat-h6,h6{
  @include mat.typography-level($typography-global-config, "h6" );
}
.mat-overline{
  text-transform: uppercase;
  @include mat.typography-level($typography-global-config, "overline" );
}

@include mat.all-component-typographies($typography-global-config);