@use "@angular/material" as mat;
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

$h3: mat.define-typography-level(
  $font-size: 4.8rem,
  $font-weight: 500,
  $line-height: 5.602rem,
  $letter-spacing: 0rem !important,
  $font-family: Nunito !important,
);

$h4: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 3.4rem,
  $line-height: 4.199rem,
  $letter-spacing: 0.025rem !important,
  $font-family: Nunito !important,
);

$h5: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 2.4rem,
  $line-height: 3.202rem,
  $letter-spacing: 0 !important,
  $font-family: Nunito !important,
);

$h6: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 2rem,
  $line-height: 3.2rem,
  $letter-spacing: 0.015rem !important,
  $font-family: Nunito !important,
);

$overline: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1.2rem,
  $line-height: 3.192rem,
  $letter-spacing: 1rem,
);

$typography-global-config: map.merge(
  mat.define-typography-config(
    $font-family: "Roboto",
    $headline-5:
      mat.define-typography-level(
        $font-family: Nunito,
        $font-weight: 300,
        $font-size: 9.6rem,
        $line-height: 11.203rem,
        $letter-spacing: -0.015rem,
      ),
    $headline-6:
      mat.define-typography-level(
        $font-family: Nunito,
        $font-weight: 400,
        $font-size: 6rem,
        $line-height: 7.2rem,
        $letter-spacing: -0.05rem,
      ),
    $subtitle-1:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.6rem,
        $line-height: 2.8rem,
        $letter-spacing: 0.015rem,
      ),
    $subtitle-2:
      mat.define-typography-level(
          $font-weight: 500,
          $font-size: 1.4rem,
          $line-height: 2.198rem,
          $letter-spacing: 0.01rem,
          $font-family: Roboto,
      ),
    $body-1:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.6rem,
        $line-height: 2.4rem,
        $letter-spacing: 0.015rem,
      ),
    $body-2:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.4rem,
        $line-height: 2.002rem,
        $letter-spacing: 0.017rem,
      ),
    $caption:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.2rem,
        $line-height: 1.992rem,
        $letter-spacing: 0.04rem,
      ),
    $button:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 500,
        $font-size: 1.4rem,
        $line-height: 2.4rem,
        $letter-spacing: 0.04rem,
      ),
  ),
  (
    "h3": $h3,
    "h4": $h4,
    "h5": $h5,
    "h6": $h6,
    "overline": $overline,
  )
);

.mat-headline-5,
.mat-h1,
h1,
.mat-headline-6,
.mat-h2,
h2,
.mat-subtitle-1,
.mat-h3,
h3,
.mat-h4,
h4,
.mat-body-1,
p,
.mat-h5,
h5,
.mat-h6,
h6 {
  margin: 0 !important;
}

.mat-h3,
h3 {
  @include mat.typography-level($typography-global-config, "h3");
}
.mat-h4,
h4 {
  @include mat.typography-level($typography-global-config, "h4");
}
.mat-h5,
h5 {
  @include mat.typography-level($typography-global-config, "h5");
}
.mat-h6,
h6 {
  @include mat.typography-level($typography-global-config, "h6");
}
.mat-overline {
  text-transform: uppercase;
  @include mat.typography-level($typography-global-config, "overline");
}

@include mat.all-component-typographies($typography-global-config);
