<div class="container-componet mat-elevation-z1" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 24%; align-items: flex-start; justify-content: flex-start;">
  
    <mat-chip size="small">chip</mat-chip>
    <mat-chip size="medium">chip</mat-chip>
    <mat-chip color="primary" size="small">chip</mat-chip>
    <mat-chip color="primary" size="medium">chip</mat-chip>
    <mat-chip color="accent" size="small">chip</mat-chip>
    <mat-chip color="accent" size="medium">chip</mat-chip>
    <mat-chip color="warn" size="small">chip</mat-chip>
    <mat-chip color="warn" size="medium">chip</mat-chip>
    <mat-chip color="success" size="small">chip</mat-chip>
    <mat-chip color="success" size="medium">chip</mat-chip>
    <mat-chip color="info" size="small">chip</mat-chip>
    <mat-chip color="info" size="medium">chip</mat-chip>
    <mat-chip color="warning" size="small">chip</mat-chip>
    <mat-chip color="warning" size="medium">chip</mat-chip>
  
    <mat-chip size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="primary" size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="primary" size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip> 
    <mat-chip color="accent" size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="accent" size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warn" size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warn" size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="success" size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="success" size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="info" size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="info" size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warning" size="small">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warning" size="medium">
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
   
    <mat-chip size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="primary" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="primary" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="accent" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="accent" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="warn" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="warn" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="success" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="success" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="info" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="info" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="warning" size="small">
      <mat-avatar size="small" avatar="circular"> </mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip color="warning" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
  
    <mat-chip size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="primary" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="primary" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="accent" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="accent" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warn" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warn" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="success" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="success" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="info" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="info" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warning" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="warning" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
  
    <mat-chip variant="stroked" size="small">chip</mat-chip>
    <mat-chip variant="stroked" size="medium">chip</mat-chip>
    <mat-chip variant="stroked" color="primary" size="small">chip</mat-chip>
    <mat-chip variant="stroked" color="primary" size="medium">chip</mat-chip>
    <mat-chip variant="stroked" color="accent" size="small">chip</mat-chip>
    <mat-chip variant="stroked" color="accent" size="medium">chip</mat-chip>
    <mat-chip variant="stroked" color="warn" size="small">chip</mat-chip>
    <mat-chip variant="stroked" color="warn" size="medium">chip</mat-chip>
    <mat-chip variant="stroked" color="success" size="small">chip</mat-chip>
    <mat-chip variant="stroked" color="success" size="medium">chip</mat-chip>
    <mat-chip variant="stroked" color="info" size="small">chip</mat-chip>
    <mat-chip variant="stroked" color="info" size="medium">chip</mat-chip>
    <mat-chip variant="stroked" color="warning" size="small">chip</mat-chip>
    <mat-chip variant="stroked" color="warning" size="medium">chip</mat-chip>
  
    <mat-chip  variant="stroked" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="primary" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="primary" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="accent" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="accent" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="warn" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="warn" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="success" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="success" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="info" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="info" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="warning" size="small" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip  variant="stroked" color="warning" size="medium" >
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
  
    <mat-chip variant="stroked" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="primary" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="primary" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="accent" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="accent" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="warn" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="warn" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="success" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="success" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="info" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="info" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="warning" size="small">
      <mat-avatar size="small" avatar="circular"> </mat-avatar>
      <p>chip</p>
    </mat-chip>
    <mat-chip variant="stroked" color="warning" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
    </mat-chip>
  
    <mat-chip variant="stroked" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="primary" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="primary" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="accent" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="accent" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="warn" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="warn" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="success" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="success" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="info" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="info" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="warning" size="small">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip variant="stroked" color="warning" size="medium">
      <mat-avatar size="small" avatar="circular"></mat-avatar>
      <p>chip</p>
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    
  </div>  