<div
  class="container-componet mat-elevation-z1"
  style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 24%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 4rem auto;
    padding: 1rem;
    gap: 20px;
  "
>
  <button mat-stroked-button color="primary"><mat-icon>menu</mat-icon>small</button>
  <button mat-raised-button color="primary" size="medium">medium</button>
  <button mat-raised-button color="primary" size="large">large</button>
  <!-- <button mat-button size="large" color="primary">button</button>
    <button mat-button color="primary">button</button>
    <button mat-button size="small" color="primary">button</button>
    <button mat-button size="large" color="accent">button</button>
    <button mat-button color="accent">button</button>
    <button mat-button size="small" color="accent">button</button>
    <button mat-button size="large" color="warn">button</button>
    <button mat-button color="warn">button</button>
    <button mat-button size="small" color="warn">button</button>
    <button mat-button size="large" color="success">button</button>
    <button mat-button color="success">button</button>
    <button mat-button size="small" color="success">button</button>
    <button mat-button size="large" color="info">button</button>
    <button mat-button color="info">button</button>
    <button mat-button size="small" color="info">button</button>
    <button mat-button size="large" color="warning">button</button>
    <button mat-button color="warning">button</button>
    <button mat-button size="small" color="warning">button</button>

    <button mat-raised-button size="large" >raised</button>
    <button mat-raised-button >raised</button>
    <button mat-raised-button size="small" >raised</button>
    <button mat-raised-button size="large" color="primary">raised</button>
    <button mat-raised-button color="primary">raised</button>
    <button mat-raised-button size="small" color="primary">raised</button>
    <button mat-raised-button size="large" color="accent">raised</button>
    <button mat-raised-button color="accent">raised</button>
    <button mat-raised-button size="small" color="accent">raised</button>
    <button mat-raised-button size="large" color="warn">raised</button>
    <button mat-raised-button color="warn">raised</button>
    <button mat-raised-button size="small" color="warn">raised</button>
    <button mat-raised-button size="large" color="success">raised</button>
    <button mat-raised-button color="success">raised</button>
    <button mat-raised-button size="small" color="success">raised</button>
    <button mat-raised-button size="large" color="info">raised</button>
    <button mat-raised-button color="info">raised</button>
    <button mat-raised-button size="small" color="info">raised</button>
    <button mat-raised-button size="large" color="warning">raised</button>
    <button mat-raised-button color="warning">raised</button>
    <button mat-raised-button size="small" color="warning">raised</button>

    <button mat-flat-button size="large">flat</button>
    <button mat-flat-button >flat</button>
    <button mat-flat-button size="small" >flat</button>
    <button mat-flat-button size="large" color="primary">flat</button>
    <button mat-flat-button color="primary">flat</button>
    <button mat-flat-button size="small" color="primary">flat</button>
    <button mat-flat-button size="large" color="accent">flat</button>
    <button mat-flat-button color="accent">flat</button>
    <button mat-flat-button size="small" color="accent">flat</button>
    <button mat-flat-button size="large" color="warn">flat</button>
    <button mat-flat-button color="warn">flat</button>
    <button mat-flat-button size="small" color="warn">flat</button>
    <button mat-flat-button size="large" color="success">flat</button>
    <button mat-flat-button color="success">flat</button>
    <button mat-flat-button size="small" color="success">flat</button>
    <button mat-flat-button size="large" color="info">flat</button>
    <button mat-flat-button color="info">flat</button>
    <button mat-flat-button size="small" color="info">flat</button>
    <button mat-flat-button size="large" color="warning">flat</button>
    <button mat-flat-button color="warning">flat</button>
    <button mat-flat-button size="small" color="warning">flat</button>

    <button mat-stroked-button size="large" >stroked</button>
    <button mat-stroked-button >stroked</button>
    <button mat-stroked-button size="small" >stroked</button>
    <button mat-stroked-button size="large" color="primary">stroked</button>
    <button mat-stroked-button color="primary">stroked</button>
    <button mat-stroked-button size="small" color="primary">stroked</button>
    <button mat-stroked-button size="large" color="accent">stroked</button>
    <button mat-stroked-button color="accent">stroked</button>
    <button mat-stroked-button size="small" color="accent">stroked</button>
    <button mat-stroked-button size="large" color="warn">stroked</button>
    <button mat-stroked-button color="warn">stroked</button>
    <button mat-stroked-button size="small" color="warn">stroked</button>
    <button mat-stroked-button size="large" color="success">stroked</button>
    <button mat-stroked-button color="success">stroked</button>
    <button mat-stroked-button size="small" color="success">stroked</button>
    <button mat-stroked-button size="large" color="info">stroked</button>
    <button mat-stroked-button color="info">stroked</button>
    <button mat-stroked-button size="small" color="info">stroked</button>
    <button mat-stroked-button size="large" color="warning">stroked</button>
    <button mat-stroked-button color="warning">stroked</button>
    <button mat-stroked-button size="small" color="warning">stroked</button> -->
</div>
