<button mat-fab avatar="rounded" size="small">
    <span> 
        <img alt="avatar" src="assets/images/imagen_prueba.jpg">
        <!--Iniciales nombre y/o foto del  -->
    </span> 
</button> 
<br>
<button mat-fab avatar="rounded" size="medium">
    <span> 
        <img alt="avatar" src="assets/images/imagen_prueba.jpg">
        <!--Iniciales nombre y/o foto del  -->
    </span> 
</button> 
<br>
<button mat-fab avatar="square" size="small">
    <span> 
        <img alt="avatar" src="assets/images/imagen_prueba.jpg">
        <!--Iniciales nombre y/o foto del  -->
    </span> 
</button> 
<br>
<button mat-fab avatar="square" size="medium">
    <span> 
        <img alt="avatar" src="assets/images/imagen_prueba.jpg">
        <!--Iniciales nombre y/o foto del  -->
    </span> 
</button> 
<br>
<button mat-fab avatar="rounded" size="small">
    <span> 
        <mat-icon>favorite</mat-icon>
    </span> 
</button> 
<br>
<button mat-fab avatar="rounded" size="medium">
    <span> 
        <mat-icon>face</mat-icon>
    </span> 
</button> 
<br>
<button mat-fab avatar="square" size="small">
    <span> 
        <mat-icon>person</mat-icon>
    </span> 
</button> 
<br>
<button mat-fab avatar="square" size="medium">
    <span> 
        <mat-icon>person_filled</mat-icon>
    </span> 
</button>
<br>
<button mat-fab avatar="square" size="small" >
    <span> 
        <mat-icon>person</mat-icon>
    </span> 
</button>
<br>
<button mat-fab avatar="rounded" size="medium" >
    <span> 
        JT
    </span> 
</button>
<br>
<button mat-fab avatar="rounded" size="small" >
    <span> 
        JT
    </span> 
</button>
<!-- 
<button mat-fab avatar="rounded" size="small" >
    <span> 
        <mat-icon>favorite</mat-icon>
    </span> 
</button>  -->