$primary: (
  50: #e4ecf4,
  100: #bcd0e3,
  200: #8fb1d0,
  300: #6291bd,
  400: #407aaf,
  500: #1e62a1,
  600: #1a5a99,
  700: #16508f,
  800: #124685,
  900: #0a3474,
  A100: #a5c4ff,
  A200: #72a3ff,
  A400: #3f82ff,
  A700: #2571ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$accent: (
  50: #e2f7fc,
  100: #b6ebf6,
  200: #86ddf1,
  300: #55cfeb,
  400: #30c5e6,
  500: #0cbbe2,
  600: #0ab5df,
  700: #08acda,
  800: #06a4d6,
  900: #0396cf,
  A100: #f6fcff,
  A200: #c3ecff,
  A400: #90dcff,
  A700: #77d4ff,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$warn: (
  50: #f9e8e8,
  100: #f1c7c7,
  200: #e8a1a1,
  300: #df7b7b,
  400: #d85f5f,
  500: #d14343,
  600: #cc3d3d,
  700: #c63434,
  800: #c02c2c,
  900: #b51e1e,
  A100: #ffecec,
  A200: #ffb9b9,
  A400: #ff8686,
  A700: #ff6d6d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$success: (
  50: #f2f9e7,
  100: #ddefc4,
  200: #c7e49d,
  300: #b1d975,
  400: #a0d158,
  500: #8fc93a,
  600: #87c334,
  700: #7cbc2c,
  800: #72b525,
  900: #60a918,
  A100: #edffde,
  A200: #d2ffab,
  A400: #b6ff78,
  A700: #a9ff5e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warning: (
  50: #fff0e0,
  100: #fedab3,
  200: #fdc280,
  300: #fcaa4d,
  400: #fc9726,
  500: #fb8500,
  600: #fa7d00,
  700: #fa7200,
  800: #f96800,
  900: #f85500,
  A100: #ffffff,
  A200: #fff1eb,
  A400: #ffccb8,
  A700: #ffba9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$info: (
  50: #e6f3f8,
  100: #c0e2ee,
  200: #96cfe2,
  300: #6cbcd6,
  400: #4dadce,
  500: #2d9fc5,
  600: #2897bf,
  700: #228db8,
  800: #1c83b0,
  900: #1172a3,
  A100: #d4efff,
  A200: #a1dcff,
  A400: #6ecaff,
  A700: #54c1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-primary: (
  50: #eaf5f9,
  100: #cae6f0,
  200: #a6d6e7,
  300: #82c6dd,
  400: #68b9d5,
  500: #4dadce,
  600: #46a6c9,
  700: #3d9cc2,
  800: #3493bc,
  900: #2583b0,
  A100: #edf9ff,
  A200: #bae7ff,
  A400: #87d6ff,
  A700: #6ecdff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$dark-accent: (
  50: #e2f7fc,
  100: #b6ebf6,
  200: #86ddf1,
  300: #55cfeb,
  400: #30c5e6,
  500: #0cbbe2,
  600: #0ab5df,
  700: #08acda,
  800: #06a4d6,
  900: #0396cf,
  A100: #f6fcff,
  A200: #c3ecff,
  A400: #90dcff,
  A700: #77d4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$dark-warn: (
  50: #f9e8e8,
  100: #f1c7c7,
  200: #e8a1a1,
  300: #df7b7b,
  400: #d85f5f,
  500: #d14343,
  600: #cc3d3d,
  700: #c63434,
  800: #c02c2c,
  900: #b51e1e,
  A100: #ffecec,
  A200: #ffb9b9,
  A400: #ff8686,
  A700: #ff6d6d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$dark-success: (
  50: #f2f9e7,
  100: #ddefc4,
  200: #c7e49d,
  300: #b1d975,
  400: #a0d158,
  500: #8fc93a,
  600: #87c334,
  700: #7cbc2c,
  800: #72b525,
  900: #60a918,
  A100: #edffde,
  A200: #d2ffab,
  A400: #b6ff78,
  A700: #a9ff5e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$dark-info: (
  50: #e6f3f8,
  100: #c0e2ee,
  200: #96cfe2,
  300: #6cbcd6,
  400: #4dadce,
  500: #2d9fc5,
  600: #2897bf,
  700: #228db8,
  800: #1c83b0,
  900: #1172a3,
  A100: #d4efff,
  A200: #a1dcff,
  A400: #6ecaff,
  A700: #54c1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$dark-warning: (
  50: #fff0e0,
  100: #fedab3,
  200: #fdc280,
  300: #fcaa4d,
  400: #fc9726,
  500: #fb8500,
  600: #fa7d00,
  700: #fa7200,
  800: #f96800,
  900: #f85500,
  A100: #ffffff,
  A200: #fff1eb,
  A400: #ffccb8,
  A700: #ffba9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$grey:(
  50: #FAFBFF,
  100: #F4F6FA,
  200: #EDEFF5,
  300: #E6E8F0,
  400: #D8DAE5,
  500: #C1C4D6,
  600: #8F95B2,
  700: #696F8C,
  800: #474D66,
  900: #101840,
  A100: #D8DAE5,
  A200: #C1C4D6,
  A400: #696F8C,
  A700: #101840,
);

$other: (
  divider: rgba(16, 24, 64, 0.12),
  outlinedBorder: rgba(16, 24, 64, 0.23),
  backdropOverlay: rgba(16, 24, 64, 0.5),
  filledInputBackground: rgba(16, 24, 64, 0.06),
  standardInputLine: rgba(16, 24, 64, 0.42),
  snackbar: #1b344c,
  ratingActive: #ffb400,
);

$background: (
  paper: #fbfbfb,
  default: #f1f0ee,
);
$light-background-default: #fbfbfb;
$dark-background-default: #1a1a1b;
