.vertical--mat-tab-group {
  flex-direction: row !important;
  height: 224px;
  flex-grow: 1;
  background-color: #fbfbfb;
  overflow: hidden;

  .mat-mdc-tab-header-pagination {
    box-sizing: border-box;
  }
  .mat-mdc-tab-header {
    flex-direction: column !important;
    width: auto;
    min-height: 48px;
    border-right: 1px solid;
    border-color: rgba(16, 24, 64, 0.12);
  }
  .mat-mdc-tab-labels {
    flex-direction: column;
  }
  .mat-mdc-tab-list {
    display: flex;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .mdc-tab-indicator {
    width: 48px;
    height: 100%;
    transform: rotate(-90deg);
    left: auto;
    right: 0;
  }
  .mat-mdc-tab-body-wrapper {
    flex: 1 1 auto;
  }
  .mat-mdc-tab-body-content{
    height: 100%;
    padding-inline:24px;
  }
}

.mat-mdc-tab-group.mat-tabs-with-background > .mat-mdc-tab-header {
  border: none;
}


