// Slider VARTIANT SIZES
.small {
  .mat-mdc-slider-visual-thumb .mat-ripple {
    border-radius: 50px;
    margin: 0.9rem 0rem 0rem 0.97rem;
    width: 60%;
    height: 60%;
  }
  .mdc-slider__thumb-knob {
    width: 0.5rem !important;
    height: 0.5rem !important;
    border-width: 7.5px !important;
  }
}