@use "@angular/material" as mat;
//variant contained
.primary-buttonGroup button.mdc-button.mat-mdc-button-base{
    @include bg-color-config($white, $primary, "");
 &:not(:last-of-type){
    @include bg-color-config("", $primary,"");
 }
 &:not(:last-of-type , :first-of-type),&:last-of-type{
   border-left: .1rem solid #003972;
 }
}
.accent-buttonGroup button.mdc-button.mat-mdc-button-base{
 @include bg-color-config($white, $accent, "");
 &:not(:last-of-type){
   @include bg-color-config("", $accent,"");
 }
 &:not(:last-of-type , :first-of-type),&:last-of-type{
 border-left: .1rem solid #008BB0;
 }
}
.warn-buttonGroup button.mdc-button.mat-mdc-button-base{
 @include bg-color-config($white, $warn, "");
 &:not(:last-of-type){
   @include bg-color-config("", $warn,"");
 }
 &:not(:last-of-type , :first-of-type),&:last-of-type{
 border-left: .1rem solid #B51E1E;
 }
}
.success-buttonGroup button.mdc-button.mat-mdc-button-base{
 @include bg-color-config($white, $success, "");
 &:not(:last-of-type){
   @include bg-color-config("", $success,"");
 }
 &:not(:last-of-type , :first-of-type),&:last-of-type{
 border-left: .1rem solid #60A918;
 }
}
.info-buttonGroup button.mdc-button.mat-mdc-button-base{
 @include bg-color-config($white, $info, "");
 &:not(:last-of-type){
   @include bg-color-config("", $info,"");
 }
 &:not(:last-of-type , :first-of-type),&:last-of-type{
 border-left: .1rem solid #1172A3;
 }
}
.warning-buttonGroup button.mdc-button.mat-mdc-button-base{
 @include bg-color-config($white, $warning, "");
 &:not(:last-of-type){
   @include bg-color-config("", $warning,"");
 }
 &:not(:last-of-type , :first-of-type),&:last-of-type{
 border-left: .1rem solid #F85500;
 }
}
.primary,.accent,.warn,.success,.info,.warning {
 &-buttonGroup button.mdc-button.mat-mdc-button-base {
   border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
   @include bordes-radius("", .4rem, .4rem, "");
   &:not(:last-of-type) {
     border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
   }
   &:first-of-type {
     @include bordes-radius(.4rem, "", "", .4rem);
   }
 }
}
//variant outlined
.primary-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($primary,$transparent, $primary);
  }
  .accent-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($accent,$transparent, $accent);
  }
  .warn-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($warn,$transparent, $warn);
  }
  .success-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($success,$transparent, $success);
  }
  .info-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($info,$transparent, $info);
  }
  .warning-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($warning,$transparent, $warning);
  }
  .primary,.accent,.warn,.success,.info,.warning{
    &-buttonGroup.outlined-buttonGroup button.mdc-button.mat-mdc-button-base {
      border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
      @include bordes-radius("", .4rem, .4rem, "");
      border: .1rem solid;
      background-color: inherit;
      &:not(:last-of-type) {
        border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
        border-right: none;
      }
      &:first-of-type {
        @include bordes-radius(.4rem, "", "", .4rem);
      }
    }
  } 
//variant text
.primary-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($primary, $transparent,"");
  }
  .accent-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($accent, $transparent,"");
  }
  .warn-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($warn, $transparent,"");
  }
  .success-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($success, $transparent,"");
  }
  .info-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($info, $transparent,"");
  }
  .warning-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
    @include bg-color-config($warning, $transparent,"");
  }
  .primary,.accent,.warn,.success,.info,.warning{
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base{
      border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
      @include bordes-radius("", .4rem, .4rem, "");
      &:not(:last-of-type) {
        @include bg-color-config("", $transparent,"");
        border-radius: var(--mdc-filled-button-container-shape,var(--mdc-shape-small, 0rem));
      }
      &:first-of-type {
        @include bordes-radius(.4rem, "", "", .4rem);
      }
      &:not(:last-of-type , :first-of-type),&:last-of-type{
        border-left:.1rem solid;  
      } 
    }
  }
//button-group orientation vertical
button-group.vertical {
  display: flex;
  flex-direction: column !important;
  width: max-content;
  @include bg-color-config("", $transparent , "");
  //variant contained
  button.mdc-button.mat-mdc-button-base {
    &:first-of-type {
    @include bordes-radius(.4rem !important, .4rem !important, 0rem !important, 0rem !important);
    }
    &:last-of-type {
    @include bordes-radius(0rem !important, 0rem !important, .4rem !important,.4rem !important );
    }
  }
  &.primary-buttonGroup button.mdc-button.mat-mdc-button-base{
    &:first-of-type ,&:not(:last-of-type) {    
      border-bottom: .1rem solid #003972;
    }
  }
  &.accent-buttonGroup button.mdc-button.mat-mdc-button-base{
    &:first-of-type ,&:not(:last-of-type) {    
      border-bottom: .1rem solid #008BB0;
    }
  }
  &.warn-buttonGroup button.mdc-button.mat-mdc-button-base{
    &:first-of-type ,&:not(:last-of-type) {    
      border-bottom: .1rem solid #B51E1E;
    }
  }
  &.success-buttonGroup button.mdc-button.mat-mdc-button-base{
    &:first-of-type ,&:not(:last-of-type) {    
      border-bottom: .1rem solid #60A918;
    }
  }
  &.info-buttonGroup button.mdc-button.mat-mdc-button-base{
    &:first-of-type ,&:not(:last-of-type) {    
      border-bottom: .1rem solid #1172A3;
    }
  }
  &.warning-buttonGroup button.mdc-button.mat-mdc-button-base{
    &:first-of-type ,&:not(:last-of-type) {    
      border-bottom: .1rem solid #F85500;
    }
  }
  //variant text
  &.primary {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: .1rem solid $primary;
      }
    }
  }
  &.accent {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: .1rem solid $accent;
      }
    }
  }
  &.warn {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: .1rem solid $warn;
      }
    }
  }
  &.success {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: .1rem solid $success;
      }
    }
  }
  &.info {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: .1rem solid $info;
      }
    }
  }
  &.warning {
    &-buttonGroup.text-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,
      &:not(:last-of-type) {
        border-bottom: .1rem solid $warning;
      }
    }
  }
  &.primary,&.accent,&.warn,&.success,&.info,&.warning{
    &-buttonGroup.text-buttonGroup,&-buttonGroup{
      button.mdc-button.mat-mdc-button-base{
        &:not(:first-of-type),&:last-of-type {
          border-left: none ;
        }
      } 
    }
}
&.outlined-buttonGroup{
  &.primary,&.accent,&.warn,&.success,&.info,&.warning{
    &-buttonGroup button.mdc-button.mat-mdc-button-base {
      &:first-of-type,&:not(:first-of-type,:last-of-type){
        border-bottom: none;
        border-right:.1rem solid ;
      }
      &:not(:first-of-type),&:last-of-type{
        border-left: .1rem solid ;
      }
    }
  }
}
}
//button-group size variants
button-group.small {
  .mdc-button {
    padding: 0.3rem 0.9rem;
    @include mat.typography-level($typography-global-config, "button-small" );
  }
}
button-group.large {
  .mdc-button {
    padding: 0.7rem 2.1rem;
    @include mat.typography-level($typography-global-config, "button-large" );
  }
}
button-group{
  &.small,&.large{
    .mdc-button{
      min-width: 4rem;
      height: auto !important;
    }
  }
}