//chip size variants
mat-chip.small {
  height: 24px !important;
  font-size: 13px;
  padding-inline: 8px;
}
mat-chip-option.small {
  height: 24px !important;
  font-size: 13px;
  padding-inline: 8px;
}
