//radio-button size variants
.small {
  .mdc-radio__background {
    width: 1.5rem;
    height: 1.5rem;
  }
  .mdc-radio__inner-circle {
    border-width: .7rem;
    margin: 0.25rem 0.15rem;
  }
  .mdc-radio__outer-circle {
    margin: 0.25rem 0.15rem;
  }
  .mdc-circular-progress__indeterminate-container {
    width: 7rem;
  }
}
.large {
  .mdc-checkbox__background {
    width: 2.1rem;
    height: 2.1rem;
    margin: .1rem .1rem;
  }
  .mdc-radio__background {
    width: 2.3rem;
    height: 2.3rem;
  }
  .mdc-radio__inner-circle {
    border-width: 1.1rem;
    margin: -.2rem -0.15rem;
  }
  .mdc-radio__outer-circle {
    margin: .2rem 0.15rem;
  }
}
