
<div class="container-component">
    <div class="text-container-component text-container-component__widht_50 text-container-component__border-Right">
        <h6>Dialog</h6>
        <ul>
            <li>
              <p class="mat-body-strong">.mat-dialog-title <span class="mat-body-2"> headline-6</span> </p> 
            </li>
        </ul> 
    </div>
    <div class="text-container-component text-container-component__widht_50 centered">
        <button mat-raised-button color="primary"(click)="openDialog()">Open dialog</button>
    </div>
</div>