
<div class="container-component">
    <div class="text-container-component text-container-component__widht_50 text-container-component__border-Right">
        <h6>Dialog</h6>
    <br>
    <p class="mat-subtitle-1">nivel de elevavion nativa en react:<span class="mat-body-strong">24</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de elevavion nativa en angular:<span class="mat-body-strong">24</span> </p> 
    <br>
    <p class="mat-subtitle-1">nivel de de elevacion actual: <span class="mat-body-strong">24</span></p>
    </div>
    <div class="text-container-component text-container-component__widht_50 centered">
        <button mat-raised-button color="primary"(click)="openDialog()">Open dialog</button>
    </div>
</div>