@use "@angular/material" as mat;
// TEXTFIELD APPEAREANCE
.default-textfield {
  & .mdc-text-field--filled:not(.mdc-text-field--disabled),.mat-mdc-form-field-focus-overlay{
      background-color: transparent !important;
  }
  .mdc-text-field{
    padding-inline:0rem !important ;
  }
  .mat-mdc-form-field-icon-suffix {
    align-self: flex-end;
    padding: 0rem;
  }
  .mat-icon{
    padding-inline:0rem !important ;
  }
  & .mdc-text-field .mdc-floating-label {
      transform: translateY(10%) !important;
  }
  & .mdc-text-field--filled .mdc-floating-label--float-above {
      transform: translateY(-110%) scale(0.75) !important;
  }

}


$padding-vertical-small: 8px;
$padding-vertical-small-standard: 9.5px;
$padding-vertical-medium-standard: 11px;
$padding-vertical-medium: 12.5px;

$line-height-small:16px;
$line-height-medium:20px;

mat-form-field.small,mat-form-field.medium{
  .mat-mdc-form-field-infix{
    min-height: auto !important;
  }
  .mat-icon{
      width: auto;
      height: auto;
      padding-inline:1.2rem;
      padding-block: 0rem;
      font-size: inherit;
  }
  .mat-mdc-floating-label{
      top:50% !important;
  }
}
mat-form-field.small {
  & .mdc-text-field--outlined{
    .mat-mdc-form-field-infix{
      padding: $padding-vertical-small 0rem !important;
    }
    .mdc-floating-label--float-above {
      transform: translateY(calc(((($padding-vertical-small*2 ) + $line-height-small ) / 2) + 6.5px )*-1) !important;
      font-size: calc(1rem * var(--mat-mdc-form-field-floating-label-scale, 0.75)) !important;
  }
  }
  & .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) {
    .mat-mdc-form-field-infix{
      padding: calc($padding-vertical-small - .2rem) 0rem !important;
    }
    input{
      margin-top: .4rem;
    }
  }
  &.default-textfield {
    .mat-mdc-form-field-infix{
      padding-block: $padding-vertical-small-standard !important;
    }
    .mat-mdc-form-field-icon-suffix {
      margin-bottom: .5rem;
    }
    .mdc-text-field .mdc-floating-label{
      top: 35% !important;
    }
    & .mdc-text-field--filled .mdc-floating-label--float-above {
      transform: translateY(calc(((($padding-vertical-small-standard*2 ) + $line-height-small ) / 2 - 3px ))*-1) !important;
    }
    input{
      position: relative;
      top: 2px;
    }
   
  }
  //global configuration for all variants of form field
  & .mat-mdc-floating-label{
    @include mat.typography-level($typography-global-config, "floating-label-small");
  }
  & .mdc-text-field__input,.mat-mdc-form-field-flex {
    line-height: $line-height-small;
  }
 @include mat.typography-level($typography-global-config, "body-2");
}
mat-form-field.medium {
  & .mdc-text-field--outlined{
    .mat-mdc-form-field-infix{
      padding: $padding-vertical-medium 0rem !important;
    }
    .mdc-floating-label--float-above {
      transform: translateY(calc(((($padding-vertical-medium*2 ) + $line-height-medium ) / 2) + 8px )*-1) !important;
      font-size: calc(1.2rem * var(--mat-mdc-form-field-floating-label-scale, 0.75)) !important;
  }
  }
  & .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) {
    .mat-mdc-form-field-infix{
      padding: calc($padding-vertical-medium - .4rem) 0rem !important;
    }
    input{
      margin-top: .8rem;
    }
  }
  &.default-textfield {
    .mat-mdc-form-field-infix{
      padding-block: $padding-vertical-medium-standard !important;
    }
    .mat-mdc-form-field-icon-suffix {
      margin-bottom: .65rem;
    }
    & .mdc-text-field--filled .mdc-floating-label--float-above {
      transform: translateY(calc(((($padding-vertical-medium*2 ) + $line-height-medium ) / 2 + 3px))*-1) !important;
    }
    input{
      position: relative;
      top: 3px;
    }
  }
  //global configuration for all variants of form field

  & .mat-mdc-floating-label{
    @include mat.typography-level($typography-global-config, "floating-label-medium");
  }
  & .mdc-text-field__input,.mat-mdc-form-field-flex {
    line-height: $line-height-medium;
  }
}
.mat-mdc-form-field-subscript-wrapper.display_none{
  display: none !important;
}