<div class="container-component">
  
  <div class="text-container-component text-container-component__widht_60 text-container-component__border-Right">
    <h6>Date picker</h6>
    <br>
    <ul>
      <li>
        <p class="mat-body-strong">.mat-calendar-body: <span class="mat-body-2"> $calendar-body-font-size: <strong>13px</strong>;
        </span> </p> 
      </li>
      <li>
        <p class="mat-body-strong">.mat-calendar-table-header th : <span class="mat-body-2"> $calendar-weekday-table-font-size: <strong>11px</strong></span> </p> 
      </li>
      <li>
        <p class="mat-body-strong">.mat-calendar-body-label : <span class="mat-body-2"> button</span> </p> 
      </li>
      <li>
        <p class="mat-body-strong">.mat-calendar-period-button : <span class="mat-body-2"> button</span> </p> 
      </li>
  </ul> 
    
  </div>
  <div class="text-container-component text-container-component__widht_50 centered">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
