<mat-checkbox size="small" color="primary" formControlName="pepperoni" checked="true" >Pepperoni</mat-checkbox>
<mat-checkbox formControlName="extracheese" color="primary" checked="true" >Extra Cheese</mat-checkbox>
<mat-checkbox size="large" formControlName="mushroom" color="primary" checked="true" >Mushroom</mat-checkbox>

<mat-checkbox size="small" formControlName="pepperoni" color="accent" checked="true" >Pepperoni</mat-checkbox>
<mat-checkbox formControlName="extracheese" color="accent" checked="true" >Extra Cheese</mat-checkbox>
<mat-checkbox size="large" formControlName="mushroom" color="accent" checked="true" >Mushroom</mat-checkbox>

<mat-checkbox size="small" formControlName="pepperoni" color="warn" checked="true" >Pepperoni</mat-checkbox>
<mat-checkbox formControlName="extracheese" color="warn" checked="true" >Extra Cheese</mat-checkbox>
<mat-checkbox size="large" formControlName="mushroom" color="warn" checked="true" >Mushroom</mat-checkbox>

<mat-checkbox size="small" formControlName="pepperoni" color="success" checked="true" >Pepperoni</mat-checkbox>
<mat-checkbox formControlName="extracheese" color="success" checked="true" >Extra Cheese</mat-checkbox>
<mat-checkbox size="large" formControlName="mushroom" color="success" checked="true" >Mushroom</mat-checkbox>

<mat-checkbox size="small" formControlName="pepperoni" color="info" checked="true" >Pepperoni</mat-checkbox>
<mat-checkbox formControlName="extracheese" color="info" checked="true" >Extra Cheese</mat-checkbox>
<mat-checkbox size="large" formControlName="mushroom" color="info" checked="true" >Mushroom</mat-checkbox>

<mat-checkbox size="small" formControlName="pepperoni" color="warning" checked="true">Pepperoni</mat-checkbox>
<mat-checkbox formControlName="extracheese" color="warning" checked="true">Extra Cheese</mat-checkbox>
<mat-checkbox size="large" formControlName="mushroom" color="warning" checked="true">Mushroom</mat-checkbox>
