.raiting-root {
  display: inline-flex;
  position: relative;
  font-size: 1.5rem;

  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
.reaiting-decimal {
  position: relative;
}
.labelRaiting {
  cursor: inherit;
}
.iconRaitin-fillet {
  display: flex;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;

}
.matIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgba(0, 0, 0, 0.26);
}

// .visually-hidden {

//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   width: 1px;
// }
