//mixin utilizado para establecer un redondeado a alguna de las 4 esquinas de un elemento al cual se le implemente este mixin
@mixin bordes-radius(
  $border-start-left,
  $border-start-right,
  $border-end-right,
  $border-end-left
) {
  border-start-start-radius: $border-start-left;
  border-start-end-radius: $border-start-right;
  border-end-end-radius: $border-end-right;
  border-end-start-radius: $border-end-left;
}
//mixin utilizado para aplicarle un determinado color al texto, fondo o bordes de un elemento al cual se le implemente este mixin
@mixin bg-color-config($color, $backgroundColor, $border-color) {
  color: $color;
  background-color: $backgroundColor;
  border-color: $border-color;
}
// MIXIN DEFINICION DE PROPIEDADES PARA DIFERENTES VARIANTES DEL COMPONENTE AVATAR
@mixin avatarVariantes(
  $width,
  $height,
  $borderRadius
) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: #D8DAE5 !important;
  box-shadow: none !important;
  width: $width !important;
  height: $height !important;
  border-radius: $borderRadius !important;
  font-size: 1.3rem;
  font-weight: 400;
} ;
