// AVATAR VARIANTS
.matAvatar--rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: $medium-avatar-size;
    height: $medium-avatar-size;
    border-radius: 6.4rem !important;
    & img {
      display: flex;
      width: $medium-avatar-size + 0.5rem;
      height: $medium-avatar-size + 0.5rem;
      border-radius: 6.4rem !important;
    }
  }
.matAvatar--square {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: $medium-avatar-size ;
    height: $medium-avatar-size;
    border-radius: 0rem !important;
    & img {
      display: flex;
      width: $medium-avatar-size + 0.5rem;
      height: $medium-avatar-size + 0.5rem;
      border-radius: 0rem !important;
    }
}
.matAvatar{
  &--rounded ,&--square {
    box-shadow: none;
    backdrop-filter: blur(0rem) !important;
  }
}
//SIZE VARIANT
mat-avatar {
    .small.mdc-fab {
      width: $small-avatar-size;
      height: $small-avatar-size;
      backdrop-filter: blur(0rem);
      img {
        width: $small-avatar-size + 0.5rem !important;
        height: $small-avatar-size + 0.5rem !important;
      }
      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
